# FastAPI
fastapi==0.115.*
uvicorn[standard]==0.34.*
python-multipart==0.0.*
requests==2.31.*
# Database
sqlalchemy==2.0.*
psycopg2-binary==2.9.*
alembic==1.14.*

# Authentication
python-jose[cryptography]==3.3.*
passlib[bcrypt]==1.7.*
bcrypt==4.2.*
email-validator==2.1.*
# Whisper STT
faster-whisper==1.1.*

# Utils
pydantic-settings==2.7.*
python-dotenv==1.0.*

# Testing
pytest==8.3.*
pytest-asyncio==0.24.*
httpx==0.28.*
